/.MappingDescriptionLabelProvider.java._trace
/.MappingDescriptionLabelProvider.xtendbin
/.MappingLabelProvider.java._trace
/.MappingLabelProvider.xtendbin
/MappingDescriptionLabelProvider.java
/MappingLabelProvider.java
