<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.kit.edu/archicorc2/edl/Events"
			class = "edu.kit.archicorc2.edl.events.EventsPackage"
			genModel = "model/generated/Events.genmodel" />
	</extension>
</plugin>
